@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 247, 249, 250;
  --background-end-rgb: 247, 249, 250;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
<<<<<<<<< Temporary merge branch 1
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
=========
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

/* body{
  background: linear-gradient(to bottom, transparent, rgb(247,249,250)) rgb(247,249,250);
}  */